<!DOCTYPE html>
<html th:fragment="layout (content)" xmlns:th="http://www.thymeleaf.org">

<!-- HEADER START -->
<head th:replace="~{template/fragments/header :: fragment-header}">
    <title>blank layout</title>
</head>
<!-- HEADER END -->

<!-- BODY START -->
<body>

<!-- CONTENT START -->
<section th:replace="${content}">
    <p>기본 레이아웃 컨텐츠</p>
</section>
<!-- CONTENT END -->

<!-- SCRIPT START -->
<script th:replace="~{template/fragments/script :: fragment-script}"></script>
<!-- SCRIPT END -->

</body>
<!-- BODY END -->

</html>