<!DOCTYPE html>
<html lang="ko" th:fragment="layout (content)" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- HEADER START -->
    <head th:replace="~{fragments/header :: fragment-header}">
        <title>blank layout</title>
    </head>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- CONTENT START -->
            <section th:replace="${content}">
                <p>Blank 레이아웃 컨텐츠</p>
            </section>
            <!-- CONTENT END -->
        </div>
        <!-- End of Main Content -->

        <!-- SCRIPT START -->
        <div th:replace="~{fragments/script :: fragment-script}"></div>
        <!-- SCRIPT END -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

</body>

</html>