<!DOCTYPE html>
<html lang="ko" th:fragment="layout (content)" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- HEADER START -->
    <head th:replace="~{fragments/header :: fragment-header}">
        <title>default layout</title>
    </head>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar :: fragment-sidebar}"></div>
    <!-- End of Sidebar -->


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="~{fragments/top :: fragment-top}"></div>
            <!-- End of Topbar -->

            <!-- CONTENT START -->
            <section th:replace="${content}">
                <p>기본 레이아웃 컨텐츠</p>
            </section>
            <!-- CONTENT END -->


        </div>
        <!-- End of Main Content -->

        <!-- FOOTER START -->
        <div th:replace="~{fragments/footer :: fragment-footer}"></div>
        <!-- FOOTER END -->
        <!-- SCRIPT START -->
        <div th:replace="~{fragments/script :: fragment-script}"></div>
        <!-- SCRIPT END -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button Start-->
<div th:replace="~{fragments/scroll :: fragment-scroll}"></div>
<!-- Scroll to Top Button End-->


<!-- Logout Modal-->
<div th:replace="~{fragments/logoutModal :: fragment-logoutModal}"></div>
<!-- End of Logout Modal-->

</body>

</html>