<!DOCTYPE html>
<html lang="ko" th:fragment="layout (content)" xmlns:th="http://www.thymeleaf.org">

<!-- HEADER START -->
<head th:replace="~{template/fragments/header :: fragment-header}">
    <title>default layout</title>
</head>
<!-- HEADER END -->


<!-- BODY START -->
<body>

<div id="body">
    <div id="wrap">
        <div id="header">
            <!-- TOP START -->
            <div th:replace="~{template/fragments/top :: fragment-top}">
                <p>해더 컨텐츠</p>
            </div>
            <!-- TOP END -->

            <!-- MAIN MENU START -->
            <div th:replace="~{template/fragments/mainMenu :: fragment-mainMenu}">
                <p>메뉴 컨텐츠</p>
            </div>
            <!-- MAIN MENU END -->
        </div>

        <div id="container">

            <!-- NAVI START -->
            <div th:replace="~{template/fragments/navi :: fragment-navi}">
                <p>네비게이션 컨텐츠</p>
            </div>
            <!-- NAVI END -->

        </div>
        <!-- CONTENT START -->
        <section th:replace="${content}">
            <p>기본 레이아웃 컨텐츠</p>
        </section>
        <!-- CONTENT END -->

    </div>
</div>

<!-- FOOTER START -->
<div th:replace="~{template/fragments/footer :: fragment-footer}"></div>
<!-- FOOTER END -->

<!-- SCRIPT START -->
<div th:replace="~{template/fragments/script :: fragment-script}"></div>
<!-- SCRIPT END -->

</body>
<!-- BODY END -->

</html>