<!DOCTYPE html>
<html lang="ko" th:fragment="layout (content)" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- HEADER START -->
    <head th:replace="~{fragments/header :: fragment-header}">
        <title>default layout</title>
    </head>
</head>

<body>
<div class="wrapper">
    <!-- SIDEBAR -->
    <nav th:replace="~{fragments/sidebar :: fragment-sidebar}"></nav>
    <!-- SIDEBAR END -->

    <div class="main">

        <!-- CONTENT START -->
        <section th:replace="${content}">
            <p>기본 레이아웃 컨텐츠</p>
        </section>
        <!-- CONTENT END -->

        <!-- FOOTER START -->
        <footer th:replace="~{fragments/footer :: fragment-footer}"></footer>
        <!-- FOOTER END -->
    </div>

</div>

    <!-- SCRIPT START -->
    <div th:replace="~{fragments/script :: fragment-script}"></div>
    <!-- SCRIPT END -->
<!--     Logout Modal-->
<!--    <div th:replace="~{fragments/logoutModal :: fragment-logoutModal}"></div>-->
<!--     End of Logout Modal-->

</body>

</html>