<!DOCTYPE html>
<html lang="ko" th:fragment="fragment-header" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- HEADER START -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <!-- HEADER END -->


    <!-- TITLE START -->
    <title>CMS 어드민</title>
    <!-- TITLE END -->
    <!-- CSS START -->
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/app.css}" rel="stylesheet" type="text/css">
    <!-- CSS END -->

</head>

</html>