<!DOCTYPE html>
<html lang="ko" th:fragment="fragment-mainMenu" xmlns:th="http://www.thymeleaf.org">

<div class="menu">
    <div class="w1280">
        <ul>
            <th:block th:each="mainMenuList, mainMenuListStat : ${mainMenuList}">
                <li th:class="${mainMenuList.adminMenuSeq eq currentMenu.topAdminMenuSeq} ? 'on':''">
                    <a th:href="${mainMenuList.menuUrl2}">
                        <strong th:text="${mainMenuList.menuName}">메뉴 제목</strong>
                    </a>
                    <div class="subCategory">
                        <div class="w1280">
                            <ul>
                                <th:block th:each="subMenuList, subMenuListStat : ${subMenuList[mainMenuList.topAdminMenuSeq]}">
                                    <li>
                                        <a th:href="${subMenuList.menuUrl2}"
                                           th:class="${subMenuList.menuSeqPath eq currentMenu.menuSeqPath} ? 'on':''">
                                            <span th:text="${subMenuList.menuName}"/>
                                        </a>
                                    </li>
                                </th:block>
                            </ul>
                        </div>
                    </div>
                </li>
            </th:block>
        </ul>
    </div>
</div>

</html>