<!DOCTYPE html>
<html lang="ko" th:fragment="fragment-sidebarMenu" xmlns:th="http://www.thymeleaf.org">
        <!-- Nav Item - Pages Collapse Menu -->
        <th:block th:each="mainMenu : ${session.get(@globalConst.SESSION_LOGIN_INFO).mainMenuList}">
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse"
                   th:data-target="'#collapse' + ${mainMenu.menuId}"
                   aria-expanded="true"
                   th:aria-controls="'collapse' + ${mainMenu.menuId}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span th:text="${mainMenu.name}">최상위 메뉴</span>
                </a>

                <div th:id="'collapse' + ${mainMenu.menuId}"
                     class="collapse"
                     th:aria-labelledby="'heading' + ${mainMenu.menuId}"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <th:block th:each="subMenuList, subMenuListStat : ${session.get(@globalConst.SESSION_LOGIN_INFO).subMenuMap[mainMenu.menuId]}">
                            <a class="collapse-item" th:href="@{${subMenuList.url}}" th:text="${subMenuList.name}"></a>
                        </th:block>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
        </th:block>


        <!-- Nav Item - Utilities Collapse Menu -->




        <!-- Heading -->
        <div class="sidebar-heading">
            Addons
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Login Screens:</h6>
                    <a class="collapse-item" href="admin/loginForm.html">Login</a>
                    <a class="collapse-item" href="admin/register.html">Register</a>
                    <a class="collapse-item" href="admin/forgot-password.html">Forgot Password</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Pages:</h6>
                    <a class="collapse-item" href="404.html">404 Page</a>
                    <a class="collapse-item" href="layout/blank.html">Blank Page</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Tables</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
            <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
            <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
        </div>

</html>