<!DOCTYPE html>
<html th:replace="~{layout/default :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<section class="main">

    <script th:inline="javascript">
        const detail = "/system/menu/";
        const list = "/system/menu";

        let fnDetail = (targetNum) => {
            const url = detail + targetNum;
            fnLocationHref(url);
        };

    </script>

    <!-- TOPBAR END -->
    <nav th:replace="~{fragments/topbar :: fragment-topbar}"></nav>
    <!-- TOPBAR END -->
    <main class="content">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="h3 mb-3"><strong>메뉴</strong> 리스트</h1>
                    <button class="btn btn-primary">등록</button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">메뉴명</th>
                        <th scope="col">경로</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="menu : ${topLevelMenus}">
                        <tr>
                            <td th:text="${menu.id}">순번</td>
                            <td th:text="${menu.name}">메뉴명</td>
                            <td th:text="${menu.url}">url</td>
                        </tr>
                        <!-- 하위메뉴 시작 -->
                        <tr th:onclick="fnDetail([[${subMenu.id}]])"
                            th:if="${childMenusByParentId[menu.id]}"
                            th:each="subMenu : ${childMenusByParentId[menu.id]}">
                            <td th:text="${subMenu.id}">순번</td>
                            <td th:text="${subMenu.name}">메뉴명</td>
                            <td th:text="${subMenu.url}">url</td>
                        </tr>
                        <!-- 하위메뉴 종료 -->
                    </th:block>
                    </tbody>
                </table>

            </div>
        </div>
    </main>

</section>

</html>